<nav class="navbar navbar-expand-md bg-dark navbar-dark " id="mainNav">
  <a class="navbar-brand" href="#">Blaugranes</a>  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/">Home </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active" *ngIf="userIs" >
            <a class="nav-link">Welcome {{loggedInUserName}} </a>
          </li>


      <li class="nav-item active" *ngIf="!userIs">
        <a class="nav-link" href="#"routerLink="/login">Login </a>
      </li>
      <li class="nav-item active" *ngIf="!userIs">
        <a class="nav-link" href="#"routerLink="/register">Register</a>
      </li>
      <li class="nav-item active" *ngIf="userIs">
          <a class="nav-link" href="#"routerLink="/" (click)="logout()" >Logout</a>
        </li>
      <li class="nav-item active">
          <a class="nav-link" href="#"routerLink="/aboutus">AboutUs</a>
        </li>
      
    </ul>
    </div>
    
</nav>