<div class="cont">
  <form class="form-signin" novalidate #f="ngForm" id="verify" role="form" (ngSubmit)="getUrl(f)">
    <h3 class="form-signin-heading" id="formheader">Email</h3>
    <input type="Email" class="form-control"
    [ngClass]="{'is-invalid':answer.errors?.required && answer.touched}"
    [(ngModel)]="loggedInuserEmail" 
    #answer = "ngModel"
    pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
    name="loginEmail" id="loginEmail" placeholder="Email" required autofocus>
    <input class="btn btn-lg btn-warning"  type="submit" value="Validate" style="margin-left:30%" >
  </form>
</div>

<div class="container" id="logform" >
    <div class="row main">
        <div class="container" id="formContainer">
            <main id="mainlogin" >
            <form class="form-signin" novalidate #f="ngForm" id="login" role="form" (ngSubmit)="checkUser(f)">
                <h3 class="form-signin-heading" id="formheader">Question</h3>
                <p><b>{{question}}</b></p>
                <br/>
              
              <h3 class="form-signin-heading" id="formheader">Answer</h3>
                <input type="text" class="form-control"
                [ngClass]="{'is-invalid':answer.errors?.required && answer.touched}"
                [(ngModel)]="user_answer" 
                #answer = "ngModel"
                style="font-style:oblique"
                name="loginEmail" id="loginEmail" placeholder="Answer" required autofocus>
            
                <input class="btn btn-lg btn-primary btn-block"  type="submit" value="Password" (click)="hide =!hide" >
                
                
               
      
                <br>
            </form>
               </main>
        
        </div>
    </div>
    </div>
      <div class="card" [hidden]="hide">
            <div class="card-header" style="text-align:center;">
              Your Password
            </div>
           <p>{{password}}</p>
          </div>
        
      