<div class="container" id="registerform">
    <div class="row main">
        <div class="container" id="formContainer">
            <main id="mainregister" >
                <form novalidate #f="ngForm" (ngSubmit)="registerNow(f)" id="register" role="form">
                    <h3 class="form-register-heading" id="formheader"><b>Register</b></h3>
                  <h5>Name :</h5>
                    <input type="text" class="form-control"
                    [ngClass]="{'is-invalid':userfirstname.errors?.required && userfirstname.touched }"
                    [(ngModel)]="registration_data.firstName" 
                    #userfirstname = "ngModel"
                     name="firstname" id="firstname" placeholder="First Name" required autofocus>
                     <div *ngIf="userfirstname.errors?.required && userfirstname.touched" class="invalid-feedback">
                            first name is required.
                    </div>
                    <div *ngIf="userfirstname.errors?.required && userfirstname.touched" class="invalid-feedback">
                            first name is invalid.
                    </div> 
                



                    <input type="text" class="form-control" 
                    [ngClass]="{'is-invalid':userlastname.errors?.required && userlastname.touched }"
                    [(ngModel)]="registration_data.lastName" 
                    #userlastname = "ngModel"
                    name="lastname" id="lastname" placeholder="Last Name" required>
                    <div *ngIf="userfirstname.errors?.required && userfirstname.touched" class="invalid-feedback">
                            last name is required.
                    </div>
                    <div *ngIf="userfirstname.errors?.required && userfirstname.touched" class="invalid-feedback">
                            last name is invalid.
                    </div>  
                    <h5>Email Address:</h5>
                    <input type="email" class="form-control" 
                    [ngClass]="{'is-invalid':userEmail.errors?.required && userEmail.touched ||userEmail.errors?.pattern}"
                    [(ngModel)]="registration_data.email" 
                    #userEmail = "ngModel"
                    pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                    name="loginEmail" id="loginEmail" placeholder="Email address" required >
                    <div *ngIf="userEmail.errors?.required && userEmail.touched" class="invalid-feedback">
                            Email is required.
                            </div>
                            <div *ngIf="userEmail.errors?.pattern && userEmail.touched" class="invalid-feedback">
                            Email is invalid.
                            </div>
                                    
                    <br/>
                <h5>Address</h5>
                <input type="text" class="form-control" 
                [ngClass]="{'is-invalid':street.errors?.required && street.touched }"
                [(ngModel)]="registration_data.street" 
                #street = "ngModel"
                
                name="street" id="street" placeholder="Street" required >

                <input type="text" class="form-control" 
                [ngClass]="{'is-invalid':state.errors?.required && state.touched }"
                [(ngModel)]="registration_data.state" 
                #state = "ngModel"
                
                name="state" id="state" placeholder="State" required >
                
                <input type="text" class="form-control" 
                [ngClass]="{'is-invalid':zipcode.errors?.required && zipcode.touched }"
                [(ngModel)]="registration_data.zipcode" 
                #zipcode = "ngModel"
                
                name="zipcode" id="zipcode" placeholder="Zipcode" required >

                <input type="text" class="form-control" 
                [ngClass]="{'is-invalid':country.errors?.required && country.touched }"
                [(ngModel)]="registration_data.country" 
                #country = "ngModel"
                
                name="country" id="country" placeholder="Country" required >

                        <br/>
                    <h5>Security Question</h5>
                    <input type="text" class="form-control" 
                    [ngClass]="{'is-invalid':securityQuestions.errors?.required && securityQuestions.touched }"
                    [(ngModel)]="registration_data.securityQuestion" 
                    #securityQuestions = "ngModel"
                    
                    name="securityQuestion" id="securityQuestion" placeholder="Security Question" required >

                    <h5>Security Answer</h5>
                    <input type="text" class="form-control" 
                    [ngClass]="{'is-invalid':securityAnswers.errors?.required && securityAnswers.touched }"
                    [(ngModel)]="registration_data.securityAnswer" 
                    #securityAnswers = "ngModel"
                    
                    name="securityAnswer" id="securityAnswer" placeholder="Security Answer" required >
                    
                    <br/>

                    <h5>Password</h5>
                    <input type="password" class="form-control" 
                    [ngClass]="{'is-invalid':userpassword.errors?.required && userpassword.touched || userpassword.errors?.pattern}"
                     [(ngModel)]="registration_data.password"
                     #userpassword = "ngModel"
                     pattern="^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})"
                    name="registerPass" id="registerPass" placeholder="Password" required>
                    <div *ngIf="userpassword.errors?.required &&userpassword.touched" class="invalid-feedback">
                             password is required.
                    </div>
                    <div *ngIf="userpassword.errors?.pattern && userpassword.touched" class="invalid-feedback">
                            password is invalid. Use 0-9,A-Z,a-z,and special characters
                    </div>
                    <br/>         
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Let's get Started">
                    <br/>
                </form>
            </main>
        </div>
    </div>
</div>