#mainNav .navbar-brand{color:#fed136;font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive}
#mainNav .navbar-brand.active,#mainNav .navbar-brand:active,#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{color:#fec503}
#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #fed136;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
#btnwrapper{
    text-align:center;
}
#newuser{
    background-color:#fed136 ;
    color: black;
}

#welcome{
    width: 25%;
    height: 10em;
    border-radius: 12px;
    background-color:#fed136 ;
    color: black;
    align-self: center;
    font-family: Montserrat,'Kaushan Script','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 100%;
}

.btn, #newuser:hover,#welcome:hover{
	background-color:black ;
    color: #fed136;
    border: none;	
}
.btn:hover {
    background-color:#fed136;
    color: black;
}
.btn:active {
	background-color:#fed136;
    color: black;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}
.filter {
    filter: blur(20px);
}
body {
    
    padding-bottom: 40px;
    background-color: #eee;
  }
  .bg {
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
}
  #formheader{
      color: black;
      font-family: Montserrat,'Kaushan Script','Helvetica Neue',Helvetica,Arial,sans-serif;
  }
  
  .form-register {
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-register-heading{
      text-align: center;
  }
  .form-register .form-register-heading {
    margin-bottom: 10px;
  }
  .form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-register .form-control:focus {
    z-index: 2;
  }
  .form-register input {
    margin-bottom: 5px;
    margin-bottom: 5px;   
  }
  main {
    margin: 100px auto;
    position: relative;
    padding: 10px 5px;
    background: hsla(0,0%,100%,.3);
    font-size: 20px;
    line-height: 1.5;
    border-radius: 10px;
    width: 60%;
    box-shadow: 5px 3px 30px black;
    overflow: hidden;
  }
  
  main::before {
    content: '';
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(20px);
    z-index: -1;
  }
  h5
  {
      margin: 3% auto;
  }