#mainNav .navbar-brand{color:#fed136;font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive}
#mainNav .navbar-brand.active,#mainNav .navbar-brand:active,#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{color:#fec503}
#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #fed136;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
#btnwrapper{
    text-align:center;
}
.btn{
	background-color:black ;
    color: #fed136;
    border: none;	
}
.btn:hover {
    background-color:#fed136;
    color: black;
}
.btn:active {
	background-color:#fed136;
    color: black;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}