<div class="container-fluid mx-auto text-center">
    
      <!-- Team -->
      <section class="bg-light" id="team">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Team Members</h2>
              <h3 class="section-subheading text-muted"></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="team-member">
                <img class="mx-auto rounded-circle" id="kripanshu" src="../../assets/images/1.jpg"
                alt="">
                <h4>Kripanshu Bhargava</h4>
                <p class="text-muted">Lead Developer</p>
                <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                    <a href="https://twitter.com/Kripanshubharga" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/kripanshu" target="_blank">
                      <i class="fa fa-github"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/kripanshubhargava/" target="_blank">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="team-member">
                <img class="mx-auto rounded-circle" id="mital" alt="" src="../../assets/images/2.jpg" >
                <h4>Mital Suresh Modha</h4>
                <p class="text-muted">Lead Developer</p>
                <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                    <a href="https://twitter.com/mital_modha" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/Mital188" target="_blank">
                      <i class="fa fa-github"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/mital-modha/" target="_blank">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <p class="large text-muted"></p>
            </div>
          </div>
        </div>
      </section>
  
  </div>