<hr>
<div class="container" id="logform">
    <div class="row main">
        <div class="container" id="formContainer">
            <main id="mainlogin" >
              
  <form class="form-signin" novalidate #f="ngForm" id="login" role="form" (ngSubmit)="onSubmitProfile(f)">
      <br>
<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">First Name</label>
    <div class="col-10">
      <input class="form-control" type="text" 
      [(ngModel)]="dashboard_data.firstName"
      value="First Name" name="first name" id="example-text-input">
    </div>
  </div>
  
  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">Last Name</label>
    <div class="col-10">
      <input class="form-control" type="text"
      [(ngModel)]="dashboard_data.lastName" 
      name="last name"
     value="lastName" id="example-search-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-email-input" class="col-2 col-form-label">Email</label>
    <div class="col-10">
      <input class="form-control" type="email" 
      [(ngModel)]="dashboard_data.email" 
      name="email"
      value="email" id="example-email-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-url-input" class="col-2 col-form-label">Street</label>
    <div class="col-10">
      <input class="form-control" type="text" 
      [(ngModel)]="dashboard_data.street" 
      name="street"
      value="street" id="example-url-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-tel-input" class="col-2 col-form-label">State</label>
    <div class="col-10">
      <input class="form-control" type="text"
      [(ngModel)]="dashboard_data.state"
      name="state"
      value="state" id="example-tel-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-number-input" class="col-2 col-form-label">Zipcode</label>
    <div class="col-10">
      <input class="form-control" type="number"
      name="zipcode"
      [(ngModel)]="dashboard_data.zipcode"
      value="42" id="text">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-datetime-local-input" class="col-2 col-form-label">Country</label>
    <div class="col-10">
      <input class="form-control" type="text"
      [(ngModel)]="dashboard_data.country"
      name="country"
      value="country" id="example-datetime-local-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Security Question</label>
    <div class="col-10">
      <input class="form-control" type="text" 
      [(ngModel)]="dashboard_data.securityQuestion"
      name="question"
      value="question" id="example-date-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Security Answer</label>
    <div class="col-10">
      <input class="form-control" type="text" 
      [(ngModel)]="dashboard_data.securityAnswer"
      name="answer"
      value="answer" id="example-date-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-password-input" class="col-2 col-form-label">Password</label>
    <div class="col-10">
      <input class="form-control" type="password" 
      [(ngModel)]="dashboard_data.password"
      name="password"
      value="***" id="example-password-input">
    </div>
  </div>
<input type="submit" class="btn btn-warning" value="Submit" style="text-align:center; margin-left:50%;">

</form>
</main>
</div>
</div>
</div>